<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
      <h2>Opsss...</h2>
      <h3>Parece que la dirección no existe.</h3>
    </div>
  </body>
</html>
