.header-links,
.container,
.card-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-links {
  margin: 20px 100px;
}

.titles {
  margin-left: 100px;
}

.form-product {
  width: 50%;
}
