<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs) %>
  <body>
    <div class="container">
      <a href="/api/products/" class="btn btn-primary">Volver</a>
    </div>
  </body>
</html>
