<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
      <h3>Articulo Nro <%= productDeleted.id => Eliminado</h3>
      <a href="/api/products/" class="btn btn-primary">Volver</a>
    </div>
  </body>
</html>
